{% extends 'ServinowMovimientosDeCajaBundle::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/servinowmovimientosdecaja/css/base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/servinowmovimientosdecaja/css/movimientos.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/servinowmovimientosdecaja/css/buttons.css') }}">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
{% endblock %}
    
{% block javascripts %}
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script>
        $(function() {
            $( "#datepicker_fecha_dia" ).datepicker();
        });
    </script>
{% endblock %}

{% block class_li_movimientos %} class="selected" {%endblock%}

{% block central_movimientos_caja %}
<div id="nav_movimientos_caja_movimientos">
    <h1 id="titulo_movimientos_caja_movimientos">
        {% trans %}daily.summary {%endtrans%}
    </h1>
    <div id="nav_movimientos_caja_movimientos_container">
            <p>
                Dia: 
                <input type="text" id="datepicker_fecha_dia" />
            </p>
    </div>
</div>

<div id="central_movimientos_caja_movimientos">
    {% block central_movimientos_caja_movimientos %}
    {% endblock %}
</div>
{% endblock %}