/* 
    Document   : movimientos
    Created on : 01-dic-2012, 14:10:34
    Author     : escrichov
    Description:
        Purpose of the stylesheet follows.
*/

#titulo_movimientos_caja{
    text-align: center;
    margin: 10px 0;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 40px;
    color: inherit;
    font-size: 38.5px;
    text-rendering: optimizelegibility;
}

#nav_movimientos_caja{
    position:relative;
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
}

#nav_ul_movimientos_caja{
    position: relative;
    font-size: 12px;
    font-weight: bold;
    background-color: #F0F0F0;
    border: 1px solid #EAEAEA;
    border-bottom-color: #CACACA;
    border-radius: 3px;
}

#nav_ul_movimientos_caja li{
    list-style-type: none;
    margin:0;
    display:table-cell;
    width: 1%;
    padding: 0;
    border:0;
}

#nav_ul_movimientos_caja li:hover{
    background-color: #BEBEBE;
}
#nav_ul_movimientos_caja li.selected:hover{
    background-color: #BEBEBE;
}

#nav_ul_movimientos_caja li:first-child{
    margin-left: 0px;
    border-left: none;
    border-bottom-left-radius: 3px;
}

#nav_ul_movimientos_caja li.selected {
    background-color: #DCDCDC;
}

#nav_ul_movimientos_caja li > a {
    border-top-left-radius: 3px;
    text-align: center;
    line-height: 35px;
    font-size: 17px;
    display: block;
    text-decoration: none;
    color: #828282;
    border-right: 1px solid #EEE;
    border-right-color: rgba(0, 0, 0, 0.04);
    border-left: 1px solid #FCFCFC;
    border-left-color: rgba(255, 255, 255, 0.7);    
}

#nav_ul_movimientos_caja li.selected > a{
    color: #000000;
}

#central_movimientos_caja{
    height: auto;
    min-height: 480px;          
    width:1300px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:auto ;      
    margin-right:auto ;      
    text-align:center;
}

.a_nav_base{
    font-size: 17px;
    font-family: sans-serif;
    font-weight: bold;
}