/* 
    Document   : movimientos
    Created on : 01-dic-2012, 19:57:43
    Author     : escrichov
    Description:
        Purpose of the stylesheet follows.
*/

#nav_movimientos_caja_movimientos{
    position: relative;
    float: left;
    background-color: #E0E0E0;
    width: 1300px;
    height: 70px;
}

#nav_movimientos_caja_movimientos_container{
    margin: 22px;
}

#central_movimientos_caja_movimientos{
    position: relative;
    float: left;
    background-color: #F9F9F9;
    width: 1300px;
    min-height: 410px;
    height: auto;
}

#titulo_movimientos_caja_movimientos{
    float:left;
    margin: 15px 0;
    margin-left: 30px;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 40px;
    color: inherit;
    font-size: 38.5px;
    text-rendering: optimizelegibility;
}

#nav_movimientos_caja_movimientos p{
    float: left;
    margin-left: 100px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 17px;
}

#nav_movimientos_caja_movimientos p > input{
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    font-weight: normal;
    height: 25px;
}
