{% extends 'ServinowNavigationBundle:Navigation:index.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/servinowlatos/css/pantallaPlatos.css') }}">

{% endblock %}

{% block content %}

<form method="post">
    <div>
        <div>
            <input type="text" name="nombre" value="{{productoID.nombre}}">
        </div>
        <div>
            <input type="textarea" name="descripcion" value="{{productoID.descripcion}}">
        </div>
        <div>
            <input type="text" name="precio" value="{{productoID.precio}}">
        </div>
    </div>
    
    <button type=submit>Aceptar</button>
</form>

{% endblock %}


