{% extends 'ServinowNavigationBundle:Navigation:index.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/servinowplatos/css/pantallaPlatos.css') }}">
{% endblock %}

{% block content %}

<form class="listadoPlatos" method="post" action="{{ path('servinow_platos_homepage_decidir', {'restaurantID': 1 }) }}">
    <select class="listadoPlatos" id="listadoPlatos" name='platoID' size="10">
    {% for plato in platos %}
        <option value="{{plato.id}}" >{{plato.nombre}}</option>
    {% endfor %}
    </select>
    <button type="submit" name="action" value="nuevo">Nuevo</button>
    <button type="submit" name="action" value="editar">Editar</button>
    <button type="submit" name="action" value="eliminar">Eliminar</button>
</form>

{% endblock %}


