{% extends 'ServinowMovimientosDeCajaBundle::Productos/base.html.twig' %}

{%block central_movimientos_caja_productos%}

<h1>{{producto.id}}</h1>
<h1>{{producto.nombre}}</h1>
<h1>{{producto.cantidad}}</h1>
<h1>{{producto.ingresos}}</h1>

{%endblock%}