<div id="estado<%=estado.tipo%>" class="estado">
	<div class="tituloPanelEstado">
		<div class="tituloEstadoDiv">
			<span class="tituloEstado"><%=estado.nombre%> </span>
			<span class="cantidadProductos">()</span>
		</div>
		<% if(botonera) { %>
		<div class="botonesAgrupacionDiv">
			<button></button>
		</div>
		<% } %>
	</div>
	<div class="contentDiv">
	</div>
</div>
