<div id="pedido<%=pedido.id%>" class="pedido">
	<div class="pedidoTitulo">
		<span>Pedido #<%=pedido.id%></span>
	</div>
	<div class="progressbar">
	</div>
	<table class="listaProductos">
		<tr>
			<td>Plato</td>
                        <td>Ración</td>
			<td>Acción</td>
		</tr>
	</table>
</div>
