<div id="pedido<%=pedido.id%>">
	<div class="pedidoTitulo">
		<span>Pedido #<%=pedido.id%></span>
	</div>
	<div class="progressbar">
	</div>
	<table class="listaProductos">
		<tr>
			<td>Plato</td>
			<td>Acciones</td>
		</tr>
	</table>
</div>
