<tr id="producto<%=lineaPedido.id%>" class="lineaPedido">
	<td><span><%=lineaPedido.producto.nombre%></span></td>
        <td>
            <span><%=lineaPedido.cantidad%></span>
	</td>
	<% if(!finalState) { %>
	<td class="accionesProducto">
            <button class="nextState"><img src="../../../../bundles/servinowgestionpedidos/img/arrow_full_right_16.png" /></button>
	</td>
	<% } %>
</tr>
