<tr id="producto<%=lineaPedido.id%>" class="lineaPedido">
	<td><span><%=lineaPedido.producto.nombre%></span></td>
        <td>
            <span><%=lineaPedido.cantidad%></span>
	</td>
	<td class="accionesProducto">
            <button class="nextState">S</button>
	</td>
</tr>
