/* 
    Document   : pantallaPlatos
    Created on : 04-dic-2012, 17:30:37
    Author     : Luis, Jorge
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

html {
    font-family: sans-serif;
    /*background-color: #333333;
    color:white;*/
}

td {
    padding: 10px;
}

div.categorias {
    height: 100px;
    overflow: auto;
    padding: 0px 5px;
    border: 1px solid #ada9a5;
}

form.listadoPlatos {
    margin:10px 0px;
    overflow:hidden;
}

select.listadoPlatos {
    float: left;
    width: 300px;
}
