<IfModule mod_rewrite.c>
    RewriteEngine On
    
    RewriteBase /    

    #<IfModule mod_vhost_alias.c>
    #    RewriteBase /web/
    #</IfModule>
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ app.php [QSA,L]
</IfModule>
